*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    display: inline-block;
}

header h3{
    margin-top: 10%;
    color: white;
    font-family: 'VT323', monospace;
    letter-spacing: 1.5px;
    font-size: 2rem;
}

.display{
    margin-top: 25%;
    text-align: center;
}

table{
    display: inline-block;
}

img{
    margin-left: 15px;
}

#result-wrapper{
    margin-left: 25%;
    display: flex;
}

#results-text{
    font-family: 'Raleway', sans-serif;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: white;
    grid-area: footer;
    text-align: center;
}

footer p{
    font-weight: bolder;
    color: black;
    display: inline-block;
    font-size: 1rem;
    font-family:'Raleway', sans-serif;
}

.heart{
    display: inline-block;
}

.heart_24{
    display: none;
}